@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);
@define-color foreground #c2c3c7;
@define-color background #0e1021;
@define-color color4 #485471;
@define-color color5 #52698D;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
}

/* Waybar background*/
window#waybar {
    /*
    background-color: @dark-9;
    color: #ffffff;*/
    background: transparent;
}

/* Module groups */
window#waybar .modules-left,
window#waybar .modules-center,
window#waybar .modules-right {
    background: alpha(@background, 0.75);
	padding: 0 10px;
	border-radius: 10px;
	border: 2px solid alpha(@color4, 0.7);
	color: @foreground;
}


#workspaces button {
    padding: 3px;
	margin: 7px 0px 7px 7px;
	background: transparent;
	border-radius: 2px;
	color: @foreground;
	border: none;
}

#workspaces button.active,
#workspaces button.focused {
    /*
    background: @highlight;
	color: black;*/
    background: alpha(@color4, 0.6);
	color: @background;
	font-weight: 700;
}

#workspaces button:hover {
    background: alpha(@color5, 0.35);
}

#workspaces button.urgent {
    background: rgba(227, 81, 73, 1);
}
#workspaces,
#clock,
#battery,
#orbit,
#cpu,
#memory,
#volume {
    border-radius: 8px;
	padding: 5px 8px;
	/*background: @dark-8;*/
	color: @foreground;
	margin: 5px 10px 5px 0px;
}


#pulseaudio-slider {
    padding: 0px;
	margin: 0px;
	margin-left: 8px;
}
#pulseaudio-slider slider {
    all: unset;
	min-height: 0;
	min-width: 0;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 8px;
	min-width: 75px;
	border-radius: 5px;
	background: @dark-7;
}

#pulseaudio-slider highlight {
    min-width: 10px;
	border-radius: 5px;
	background: @highlight;
}
#media {
  color: #42ff9f;
  margin: 7px 0px 7px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 14px;
}
#custom-music-trigger {
    color: #1DB594;
    padding: 0px 8px;
    margin: 4px;
    background-color: rgba(72,60,50,0.4);
    border-radius: 8px;
    transition: all 0.3s ease;
}
#custom-music-trigger:hover {
    color: #1ed760;
    background-color: #005AB5;
    text-shadow: 0 0 4px rgba(30,215,96,0.6);
}
/*
tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}*/
#custom-todo {
    color: @foreground;
    padding: 0px 6px;
    border-left: 6px;
    border-right: 6px;
}
#custom-todo:hover {
    background-color: #005AB5;
    text-shadow: 0 0 4px rgba(30,215,96,0.6);
}
#workspaces button,
#cpu,
#volume,
#battery,
#clock,
#orbit,
#submap,
#media {
    transition: all 0.2s ease;
}
